<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Nova Equipe</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= form_for(:equipe, url: { action: "create" }) do |f| %>
    <div class="form-group">
      <%= f.label :nome %><br />
      <%= f.text_field :nome, class: "form-control" %>
    </div>

    <%= f.submit "Criar", name:"submit" ,class: "btn btn-primary btn-block" %>
  <% end %>
</div>